$font-color:#FFD600;
$box-color:#6ABC39;
$borderR:100px;
$opacity:0.8;
$border:2px solid yellow;
$boxS:2px 2px 50px 0 yellow;
$widthBox: 80%;
$heightBox:auto;
$marginBox:100px auto;
$paddingBox:20px;
$fontheader:'Rampart One', sans-serif;
$font-colortext: white;






img{
    max-width: 100%;
    border-radius: 10%;
}

